<mat-toolbar color="primary">
    <h1 mat-dialog-title>Sign In</h1>
    <span class="fill-remaining-space"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<div class="container" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="gappx">
    This is a prototype. You can sign in with any credentials.
</div>
<form novalidate #formVariable="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field fxLayoutAlign="center">
                <input matInput placeholder="Username" type="text"
                    [(ngModel)]="user.username" name="username"
                    #username="ngModel" required>
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field fxLayoutAlign="center">
                <input matInput placeholder="Password" type="password"
                    [(ngModel)]="user.password" name="password"
                    #password="ngModel" required>
                <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            </mat-form-field>
            <mat-checkbox style="padding-left:55px;" [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
        </p>
    </mat-dialog-content>
    <div fxLayoutAlign="center start">
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button type="submit" class="background-primary text-floral-white"
                [disabled]="formVariable.form.invalid">Sign In</button>
        </mat-dialog-actions>
    </div>
</form>