<mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p>This is a prototype. You can type in any credentials</p>
<form>
    <mat-form-field fxLayout="row" fxLayoutAlign="center">
        <input matInput placeholder="Name" class="center">
        <mat-label>Name</mat-label>
    </mat-form-field>
    <mat-form-field fxLayoutAlign="center">
        <input matInput placeholder="Password">
        <mat-label>Password</mat-label>
    </mat-form-field>
</form>
